body{
    background: #0d1521;
    font-family: tahoma;
    color: #989898;
}

#todo-table{
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

.appInput input{
    display: block;
    width: 50%;
    padding: 20px 20px 20px 20px;
    margin: 10px 0px 10px 0px;
    background:#181c22;
    border: 0;
    font-size: 20px;
    color: #989898;
}

.appInput label{
    font-size: 1.25em;
    font-family: tahoma; 
}

.appInput button{
    padding: 20px;
    width: 20%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
}

.appHeader{
    background: url(/assets/clock.png) no-repeat center;
    margin-bottom: 10px;
    background-size: 35px;
    text-indent: -10000px;
}

h1{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

#login{
    margin-top: 50px; 
    background: #090d13;
    padding: 30px 50px 45px 50px; 
}

.loginForm{
    margin-left: 41%; 
}

.loginForm input[type="text"]{
    width: 35%;
    padding: 10px;
    background:#181c22;
    border: 0;
    font-size: 20px;
    color: #989898;
    margin:10px 0 15px;
    display: block;
}

.loginForm button{
    padding: 1.5% 1.5% 1.5% 1.5%;
    width: 15%;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
}